/* **********
 * IMPORTS  *
 ********** */

/* Reset */
@import url('modules/reset.css');

/* Font */
@import url('modules/fonts.css');

/* Material Icons */
@import url('modules/material-icons.css');

/* Utilities */
@import url('modules/utilities.css');

/* Typography */
@import url('modules/typography.css');

/* Buttons */
@import url('modules/buttons.css');

/* Anchors */
@import url('modules/anchors.css');

/* Dialog */
@import url('modules/dialog.css');





/* **********
 * GLOBALS  *
 ********** */
:root {
  --primary-color: #030712;
  --primary-contrast-color: #111827;
  --accent-color: #030712;
  --accent-contrast-color: #111827;

  --success-color: #0f766e;
  --error-color: #991b1b;

  --text-color: #1f1d1d;
  --light-text-color: #696161;

  --app-background-color: #f7f1f1;
  --app-background-contrast-color: #e7e0e0;

  --font-size: 16px;
  font-size: var(--font-size);
}




/* *************
 * TEXT COLORS *
 ************* */
.primary-color { color: var(--primary-color) }
.accent-color { color: var(--accent-color) }
.success-color { color: var(--success-color) }
.error-color { color: var(--error-color) }
.text-color { color: var(--text-color) }
.light-text-color { color: var(--light-text-color) }





/* *****************
 * HORIZONTAL RULE *
 ***************** */
hr { 
  border-top: 1px solid var(--light-text-color);
  margin: 30px 0;
  border-radius: 5px;
}




/* *******
 * LISTS *
 ******* */
ul, ol {
  margin: 0;
}
ul li, ol li {
  margin: 15px 0;
}



/* ********
 * STRONG *
 ******** */
strong {
  font-weight: bold;
}





/* ***********
 * SEPARATOR *
 *********** */
.separator {
  flex:1;
}





/* ****************
 * ROOT CONTAINER *
 **************** */
html {
  scroll-behavior: smooth;
}




/* ******
 * BODY *
 ****** */
body {
  font-family: "Montserrat", "Roboto", sans-serif;
  background-color: var(--app-background-color);
  color: var(--text-color);
  overflow-y: scroll;
}
body:has(dialog),
body:has(.game-result-container) {
  overflow-y: hidden;
}



/* ***************
 * APP CONTAINER *
 *************** */
#appContainer {
  width:100%;
  overflow-x: hidden;
  padding: 15px;
}




/* ********
 * HEADER *
 ******** */
#appContainer > header {
  text-align: center;
}
#appContainer > header h1 {
  margin:0;
  font-weight: 900;
}
#appContainer > header p {
  margin:0;
  color: var(--light-text-color);
  font-size: 0.9rem;
}
#appContainer > header h2 {
  margin:10px 0 0 0;
  font-weight: bold;
  font-size: 1.5rem;
}





/* ****************
 * MAIN CONTAINER *
 **************** */
#appContainer > main {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 25px;
}

#appContainer > main button {
  border:none;
  padding:0;
  animation: fadein 0.3s ease-in;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
  cursor:pointer;
}
#appContainer > main button:focus {
  outline: none;
}

/* Hover & Focus */
#appContainer > main button:hover{
  opacity: 0.5;
}

/* Active */
#appContainer > main button:active {
  transform: scale(0.92)
}









/* *************
 * GAME RESULT *
 ************* */
.game-result-container {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.8);
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadein 0.3s ease-in;
  z-index: 2;
}
.game-result-container h2 {
  font-size:2.8rem;
  font-weight: 900;
  margin:0;
}
.game-result-container p {
  font-size:1.5rem;
  font-weight: 900;
  margin:0;
}


.game-result-container button {
  color:white;
  background-color: var(--primary-color);
  margin-top: 20px;
  font-weight: 900;
  padding: 15px 20px;
  cursor: pointer;
  border:none;
}
.game-result-container button:focus {
  outline: none;
}

/* Hover & Focus */
.game-result-container button:hover,
.game-result-container button:focus {
  background-color: var(--primary-contrast-color);
}

/* Active */
.game-result-container button:active {
  transform: scale(0.92)
}






/* **************************
 * RESPONSIVE MEDIA QUERIES *
 ************************** */

/*
 * DEVICE: Desktops
 * SCREEN: 1281px to higher resolution desktops
 */
@media (min-width: 1281px) {

}





/*
* DEVICE: Laptops, Desktops
* SCREEN: B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {

}





/*
* DEVICE: Tablets, Ipads (portrait)
* SCREEN: B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {

}




/*
* DEVICE: Low Resolution Tablets, Mobiles (Landscape)
* SCREEN: B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {

}





/*
* DEVICE: Most of the Smartphones Mobiles (Portrait)
* SCREEN: 480px to lower resolution mobiles
*/
@media (max-width: 480px) {
  /* ***************
   * APP CONTAINER *
   *************** */
  #appContainer {
    padding: 5px;
  }



/* ****************
 * MAIN CONTAINER *
 **************** */
  #appContainer > main {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 15px;
  }
}
